keybinds {
    normal {
        bind "Super c" { Copy; }
        bind "Super Alt Left" { GoToPreviousTab; }
        bind "Super Alt Right" { GoToNextTab; }
        bind "Super w" { CloseTab; }
        bind "Super x" { CloseFocus; }
        bind "Super r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Super n" { SwitchToMode "RenamePane"; PaneNameInput 0; }
        bind "Super s" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
        bind "Super -" { NewPane "Down"; }
        bind "Super /" { NewPane "Right"; }
        
        bind "Super [" { FocusPreviousPane; }
        bind "Super ]" { FocusNextPane; }

        bind "Super t" { NewTab; }
        bind "Super f" { ToggleFloatingPanes; }

        unbind "Ctrl o"
        unbind "Ctrl q"

        bind "Super Shift D" { Detach; }
    }
}

theme "tokyonight_night"

simplified_ui true
default_layout "stacked"

on_force_close "detach"

default_shell "/opt/homebrew/bin/nu"
