[submodule "unix/nvim"]
	path = unix/nvim
	url = git@github.com:demestoss/lazyvim.git
[submodule "personal"]
	path = personal
	url = git@github.com:demestoss/.dotfiles-personal.git
[submodule "work"]
	path = work
	url = git@github.com:demestoss/work-dotfiles.git
